@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p><a href="/PageWithServerResponce">Go to the PageWithServerResponce Page</a></p>

    <input id="Input1" type="text" style="width: 200px;">
    <input id="Input2" type="text" style="width: 200px;">
    <br />
    <p>
        <input id="Input3" type="text" style="width: 200px;">
    </p>
    <button id="myButton">Click me</button>
    <br />
</div>
